SeleniumNodeJS/.idea/
SeleniumCSharp/FirstWebDriverProject/bin/
SeleniumCSharp/FirstWebDriverProject/obj/
SeleniumNodeJS/.idea/workspace.xml
SeleniumCSharp/FirstWebDriverProject/FirstWebDriverProject.userprefs
